<!-- templates/recipe_form.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if IsEditMode %}
        Edit Recipe
    {% else %}
        Recipe Detail
    {% endif %}
{% endblock %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'soilRegenApp/css/recipe_form.css' %}">
{% endblock %}

{% block content %}
    <div id="content-wrap3">
        <div class="container mt-4">
            <form id="editRecipeForm" method="post" class="recipe-form">
                {% csrf_token %}
                <div class="row align-items-center"> <!-- Ensure title and buttons are aligned in the middle -->
                    <div class="col-md-8">
                        <h2 id="recipe-form-title">
                            {% if IsEditMode %}Edit Recipe{% else %}Recipe Detail{% endif %}
                        </h2>
                    </div>
                    <div class="col-md-4 text-md-right"> <!-- Use text-md-right to align buttons to the right on medium screens and up -->
                        {% if IsEditMode %}
                            <button id="submitBtn" type="submit" name="submitBtn" class="btn btn-primary">Save</button>
                            <button type="button" name="cancelBtn" class="btn btn-danger" onclick="window.location.href='{% url 'recipe_list' %}?curr_id={{ recipe_id }}'">Cancel</button>
                            <div id="isEditMode" hidden>true</div>
                        {% else %}
                            <button type="button" name="editBtn" class="btn btn-primary" onclick="window.location.href='?mode=edit'">Edit</button>
                            <button type="button" name="recipeListBtn" class="btn btn-success" onclick="window.location.href='{% url 'recipe_list' %}?curr_id={{ recipe_id }}'">Recipe List</button>
                            <div id="isEditMode" hidden>false</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 recipe-form-fields">
                        <div class="form-group">
                            <label for="{{ form.recipe_name.id_for_label }}">Recipe Name:</label>
                            {{ form.recipe_name }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_description.id_for_label }}">Description:</label>
                            {{ form.recipe_description }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_category_id.id_for_label }}">Category:</label>
                            {{ form.recipe_category }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.recipe_type_id.id_for_label }}">Type:</label>
                            {{ form.recipe_type }}
                        </div>
                    </div>
                    <div class="col-md-6 recipe-form-fields">

                        <div class="form-group">
                            <label for="{{ form.practice.id_for_label }}">Practice:</label>
                            {{ form.practice }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.application.id_for_label }}">Application:</label>
                            {{ form.application }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.recipe_rate.id_for_label }} ">Rate:</label>
                            {{ form.recipe_rate }}
                        </div>

                        <div class="form-group" id="recipe-form-unit">
                            <label for="{{ form.unit_id.id_for_label }}">Units:</label>
                            {{ form.unit }} <span style="margin-left: 5px; margin-top: -.5em; white-space: nowrap;">per acre.</span>
                        </div>
                    </div>

                    <div class="col-12 recipe-form-fields">
                        <div class="form-group" id="recipe-form-notes">
                            <label for="{{ form.recipe_notes.id_for_label }}">Notes:</label>
                            {{ form.recipe_notes }}
                        </div>
                    </div>
                </div>

                <br><br><br><br>
                
                <div class="row">
                    <!-- Recipe Step List Column -->
                    <div class="col-md-4" id="recipe-step-list-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                        <h3 class="panel-title" id="recipe-step-title">Recipe Steps</h3>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                {% if IsEditMode %}
                                                    <button class="btn btn-success btn-block" id="btn-new-recipe-step">New Step</button>
                                                {% else %}
                                                    <button class="btn btn-success btn-block" id="btn-new-recipe-step" hidden>New Step</button>
                                                {% endif %}
                                            </div>
                                        </form>
                                </div>
                            </div>
    
                            <div class="panel-body">
                                <div>
                                    {% if recipe_steps %}
                                        <div class="list-group" id="recipeStepList">
                                            {% for recipe_step in recipe_steps %}
                                                <a href="#"
                                                    class="list-group-item list-group-item-action" 
                                                    id="recipe-step-item"
                                                    data-id="{{ recipe_step.recipe_step_id }}"
                                                    data-number="{{ recipe_step.recipe_step_number }}"
                                                    data-name="{{ recipe_step.recipe_step_name }}"
                                                    data-description="{{ recipe_step.recipe_step_description }}"
                                                    data-notes="{{ recipe_step.recipe_step_notes }}"
                                                >
                                                    {{ recipe_step.recipe_step_number }} - {{ recipe_step.recipe_step_name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div>No steps found.</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recipe Step Detail Column -->
                    <div class="col-md-6 recipe-form-fields" id="recipe-step-item-panel">
                        <form id="recipeStepForm" method="post" action="/recipe_update/step/">
                            {% csrf_token %}
                            <div id="current_step_id" value="0"hidden></div>
                            <h3 id="recipe-step-form-title">
                                {% if IsEditMode %}Edit Recipe Step{% else %}Recipe Step Detail{% endif %}
                            </h3>
                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_name.id_for_label }}">Name:</label>
                                {{ step_form.recipe_step_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_number_id.id_for_label }}">Number:</label>
                                {{ step_form.recipe_step_number }}
                            </div>

                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_description.id_for_label }}">Description:</label>
                                {{ step_form.recipe_step_description }}
                            </div>
                            <div class="form-group">
                                <label for="{{ step_form.recipe_step_notes.id_for_label }}">Notes:</label>
                                {{ step_form.recipe_step_notes }}
                            </div>
                            <div id="current-step-id" hidden></div>
                            <div class="form-group" id="recipe-detail-btn-box">
                                <button type="button" class="btn btn-success" id="btn-previous-step"><-Previous</button>
                                {% if IsEditMode %}
                                    <button type="button" class="btn btn-danger" id="btn-delete-step" style="display: block;">Delete</button>
                                    <!-- <button type="button" class="btn btn-danger" id="btn-cancel-step" style="display: none;">Cancel</button> -->
                                    <button type="button" class="btn btn-primary" id="btn-save-step" display="none">Save</button>
                                {% else %}
                                    <button type="button" class="btn btn-danger" id="btn-delete-step" style="display: none;">Delete</button>
                                    <!-- <button type="button" class="btn btn-danger" id="btn-cancel-step" style="display: none;">Cancel</button> -->
                                {% endif %}
                                <button type="button" class="btn btn-success" id="btn-next-step">Next-></button>
                            </div>
                        </form>
                    </div>
                </div>

                <br><br><br><br>

                <div class="row">
                    <!-- Recipe Ingredient List Column -->
                    <div class="col-md-4" id="recipe-ingredient-list-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                        <h3 class="panel-title" id="recipe-ingredient-title">Recipe Ingredients</h3>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                {% if IsEditMode %}
                                                    <button class="btn btn-success btn-block" id="btn-new-ingredient-step">New Ingredient</button>
                                                {% else %}
                                                    <button class="btn btn-success btn-block" id="btn-new-ingredient-step" hidden>New Ingredient</button>
                                                {% endif %}
                                            </div>
                                        </form>
                                </div>
                            </div>
    
                            <div class="panel-body">
                                <div>
                                    {% if recipe_ingredients %}
                                        <div class="list-group" id="recipeIngredientList">
                                            {% for recipe_ingredient in recipe_ingredients %}
                                                <a href="#" 
                                                    class="list-group-item list-group-item-action"
                                                    id="recipe-ingredient-item"
                                                    data-id1=" {{ recipe_ingredient.recipe_ingredient_id }}"
                                                    data-id2="{{ recipe_ingredient.ingredient.ingredient_id }}"
                                                    data-quantity2="{{ recipe_ingredient.recipe_ingredient_quantity }}" 
                                                    data-notes2="{{ recipe_ingredient.recipe_ingredient_notes }}"
                                                    data-name2="{{ recipe_ingredient.ingredient.ingredient_name }}" 
                                                    data-unit2="{{ recipe_ingredient.unit.unit_name }}"
                                                    data-category2="{{ recipe_ingredient.ingredient.ingredient_category.category_name }}"
                                                    data-type2="{{ recipe_ingredient.ingredient.ingredient_type.ingredient_type_name }}"
                                                    data-practice2="{{ recipe_ingredient.ingredient.practice.practice_name }}"
                                                >
                                                    {{ recipe_ingredient.ingredient.ingredient_name }} - {{ recipe_ingredient.ingredient.ingredient_description }}

                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div>No ingredients found.</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recipe Ingredient Detail Column -->
                    <div class="col-md-6 recipe-form-fields" id="recipe-ingredient-item-panel">
                        <form id="recipeIngredientForm" method="post" action="/recipe_update/ingredient/">
                            {% csrf_token %}
                            <input type="hidden" name="current_recipe_ingredient_id" id="current_recipe_ingredient_id" value="">
                            <h3 id="recipe-ingredient-form-title">
                                {% if IsEditMode %}Edit Recipe Ingredient{% else %}Recipe Ingredient Detail{% endif %}
                            </h3>
                            <div class="form-group">
                                <label for="{{ ingredient_form.ingredient.id_for_label }}">Name:</label>
                                {{ ingredient_form.ingredient }}
                            </div>
                            <div class="form-group ingredient-related">
                                <label class="ingredient-related-label" id="ingredient-description-label">Description:</label>
                                <span class="ingredient-related-field" id="ingredient-description-display"></span>
                            </div>
                            <div class="form-group ingredient-related">
                                <label class="ingredient-related-label" id="ingredient-Type-label">Type:</label>
                                <span class="ingredient-related-field" id="ingredient-type-display"></span>
                            </div>
                            <div class="form-group ingredient-related">
                                <label class="ingredient-related-label" id="ingredient-Category-label">Category:</label>
                                <span class="ingredient-related-field" id="ingredient-category-display"></span>
                            </div>
                            <div class="form-group ingredient-related">
                                <label class="ingredient-related-label" id="ingredient-Practice-label">Practice:</label>
                                <span class="ingredient-related-field" id="ingredient-practice-display"></span>
                            </div>
                            <div class="form-group">
                                <label for="{{ ingredient_form.recipe_ingredient_description.id_for_label }}">Quantity:</label>
                                {{ ingredient_form.recipe_ingredient_quantity }}
                            </div>
                            <div class="form-group">
                                <label for="{{ ingredient_form.recipe_ingredient_description.id_for_label }}">Units:</label>
                                {{ ingredient_form.unit }}
                            </div>
                            <div class="form-group">
                                <label for="{{ ingredient_form.recipe_ingredient_description.id_for_label }}">Notes:</label>
                                {{ ingredient_form.recipe_ingredient_notes }}
                            </div>
                            <div id="recipe-detail-btn-box">
                                <button type="button" class="btn btn-success" id="btn-previous-ingredient"><-Previous</button>
                                {% if IsEditMode %}
                                    <button type="button" class="btn btn-danger" id="btn-delete-ingredient" display="block">Delete</button>
                                    <!-- <button type="button" class="btn btn-danger" id="btn-cancel-ingredient" display="none">Cancel</button> -->
                                    <button type="button" class="btn btn-primary" id="btn-save-ingredient" display="none">Save</button>
                                {% else %}
                                    <button type="button" class="btn btn-danger" id="btn-delete-ingredient" display="none">Delete</button>
                                    <!-- <button type="button" class="btn btn-danger" id="btn-cancel-ingredient" display="none">Cancel</button> -->
                                {% endif %}
                                <button type="button" class="btn btn-success" id="btn-next-ingredient">Next-></button>
                            </div>
                        </form>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <br><br><br><br>

    <script type="text/javascript">
        // Variable Initialization Script
        // check the URL for a curr_id query parameter
        const urlParams = new URLSearchParams(window.location.search);
        let curr_id = urlParams.get('curr_id');
        // Get the recipe_id from the context variable
        var recipeId = "{{ recipe_id }}";

        // Directly generate the base URLs for editing and deleting without the placeholder
        var editBaseUrl = "{% url 'edit_recipe' 0 %}".replace('/0/', '/');
        var detailBaseUrl = "{% url 'recipe_detail' 0 %}".replace('/0/', '/');
        var deleteBaseUrl = "{% url 'delete_recipe' 0 %}".replace('/0/', '/');

        // Initialize the steps and ingredients arrays from the JSON data
        var ingredientsArr = JSON.parse("{{ ingredients_json|escapejs }}");
        var stepsArr = JSON.parse("{{ steps_json|escapejs }}");
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            // Naviation script to load Next and Previous for steps,
            // and to load the step details when a click event occurs on the lists
            const ingredientSelect = document.getElementById('id_recipe_ingredient_ingredient');
            const descriptionDisplay = document.getElementById('ingredient-description-display');
            const typeDisplay = document.getElementById('ingredient-type-display');
            const categoryDisplay = document.getElementById('ingredient-category-display');
            const practiceDisplay = document.getElementById('ingredient-practice-display');

            var newStepBtn = document.getElementById('btn-new-recipe-step');
            var btnDeleteStep = document.getElementById('btn-delete-step');
            var btnCancelStep = document.getElementById('btn-cancel-step');
            var btnSaveStep = document.getElementById('btn-save-step');
            var btnNewRecipeIngredient = document.getElementById('btn-new-recipe-ingredient');
            var btnDeleteIngredient = document.getElementById('btn-delete-ingredient');
            var btnCancelIngredient = document.getElementById('btn-cancel-ingredient');
            var btnSaveIngredient = document.getElementById('btn-save-ingredient');

            let isEditMode = document.getElementById('isEditMode').innerText.trim();
            let isAddStepMode = false;
            let isAddIngredientMode = false;
            let currentStepIndex = 0; // Start at the first step
            let currentIngredientIndex = 0; // Start at the first ingredient
            let currentIngredientId = ingredientsArr[currentIngredientIndex].fields.ingredient.toString();

            // Function to move to the first step and load its details
            function moveToFirstStep() {
                if (stepsArr.length > 0) { // Check if there are any steps
                    currentStepIndex = 0; // Set to the first step
                    loadStepDetails(stepsArr[currentStepIndex]); // Load the first step's details
                }
            }

            function moveToNextStep() {
                if (currentStepIndex < stepsArr.length - 1) {
                    if (isEditMode == 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }
                    currentStepIndex++;
                    loadStepDetails(stepsArr[currentStepIndex]);
                }
            }

            function moveToPreviousStep() {
                if (currentStepIndex > 0) {
                    if (isEditMode == 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }
                    currentStepIndex--;
                    loadStepDetails(stepsArr[currentStepIndex]);
                }
            }

            function loadStepDetails(step) {
                // Update the DOM elements with step details
                document.getElementById("id_recipe_step_name").value = step.recipe_step_name;
                document.getElementById("id_recipe_step_number").value = step.recipe_step_number;
                document.getElementById("id_recipe_step_description").value = step.recipe_step_description;
                document.getElementById("id_recipe_step_notes").value = step.recipe_step_notes;
                document.getElementById("current_step_id").value = step.recipe_step_id; // Assuming you have a hidden field for current step ID

            }

            function saveStepDetailsToArray() {
                // Directly get step details from the form
                console.log('Saving step details to array');
                const stepName = document.getElementById("id_recipe_step_name").value;
                const stepNumber = parseInt(document.getElementById("id_recipe_step_number").value, 10);
                const stepDescription = document.getElementById("id_recipe_step_description").value;
                const stepNotes = document.getElementById("id_recipe_step_notes").value;
            
                // Assuming isAddStepMode is a global flag indicating if a new step is being added
                if (isAddStepMode) {
                    // For new steps, assume no recipe_step_id is available yet
                    console.log('Adding new step: ', stepName, stepNumber, stepDescription, stepNotes, recipeId);
                    stepsArr.push({
                        recipe_step_name: stepName,
                        recipe_step_number: stepNumber,
                        recipe_step_description: stepDescription,
                        recipe_step_notes: stepNotes,
                        recipe_id: recipeId
                    });
                    console.log('New step added:', stepsArr[stepsArr.length - 1])
                    // Update currentStepIndex to the index of the new step
                    currentStepIndex = stepsArr.length - 1;
                    isAddStepMode = false; // Reset the flag after adding
                } else {
                    // Update existing step
                    const stepToUpdate = stepsArr[currentStepIndex];
                    if (stepToUpdate) { // Check if stepToUpdate is defined
                        stepToUpdate.recipe_step_name = stepName;
                        stepToUpdate.recipe_step_number = stepNumber;
                        stepToUpdate.recipe_step_description = stepDescription;
                        stepToUpdate.recipe_step_notes = stepNotes;
                        console.log('Step updated:', stepToUpdate)
                    } else {
                        console.error('Step not found at index:', currentStepIndex);
                    }
                }
                refreshStepList(); // Refresh the UI with updated steps list
            }

            function writeStepDetails() {
                fetch(`/soilRegenApp/update_steps/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(stepsArr)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update step details');
                    }
                    return response.json();
                })
                .then(data => {
                    refreshStepList();
                })
                .catch(error => {
                    console.error('Error updating step details:', error);
                });
            }

            deleteStep = function() {
                if (confirm('Are you sure you want to delete this step?')) {
                    // remove the step from the array
                    stepId = stepsArr[currentStepIndex].recipe_step_id;
                    stepsArr.splice(currentStepIndex, 1);
                    //delete step from the database
                    fetch(`/soilRegenApp/delete_step/${stepId}/`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(stepsArr)
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to delete step');
                        }
                        // Refresh the step list and move to the first step after successful deletion
                        refreshStepList();
                        moveToFirstStep();
                        alert('Step deleted successfully');
                    })
                    .catch(error => {
                        console.error('Error deleting step:', error);
                    });
                }
            }

            function refreshStepList() {
                const recipeStepList = document.getElementById('recipeStepList');
                // Clear existing steps to repopulate
                recipeStepList.innerHTML = '';
            
                stepsArr.forEach(step => {
                    const stepElement = document.createElement('a');
                    stepElement.href = '#';
                    stepElement.className = 'list-group-item list-group-item-action';
                    stepElement.dataset.id = step.recipe_step_id;
                    stepElement.dataset.number = step.recipe_step_number;
                    stepElement.dataset.name = step.recipe_step_name;
                    stepElement.dataset.description = step.recipe_step_description;
                    stepElement.dataset.notes = step.recipe_step_notes;
                    stepElement.textContent = `${step.recipe_step_number} - ${step.recipe_step_name}`;
            
                    // Reattach the click event listener to load step details
                    stepElement.addEventListener('click', function(e) {
                        e.preventDefault();
                        const stepId = parseInt(this.dataset.id);
                        const step = stepsArr.find(s => s.recipe_step_id === stepId);
                        if (step) {
                            currentStepIndex = stepsArr.findIndex(s => s.recipe_step_id === stepId);
                            loadStepDetails(step);
                        }
                    });
                    recipeStepList.appendChild(stepElement);
                });
            }

            // Function to move to the first ingredient and load its details
            function moveToFirstIngredient() {
                if (ingredientsArr.length > 0) { // Check if there are any ingredients
                    currentIngredientIndex = 0; // Set to the first ingredient
                    loadIngredientDetails(ingredientsArr[currentIngredientIndex].fields); // Load the first ingredients's details
                }
            }

            function moveToNextIngredient() {
                if (currentIngredientIndex < ingredientsArr.length - 1) {
                    if (isEditMode == 'true') {
                        saveIngredientDetails(ingredientsArr[currentIngredientIndex]);
                    }
                    currentIngredientIndex++;
                    loadIngredientDetails(ingredientsArr[currentIngredientIndex]);
                }
            }

            function moveToPreviousIngredient() {
                if (currentIngredientIndex > 0) {
                    if (isEditMode == 'true') {
                        saveIngredientDetailsToArray(ingredientsArr[currentIngredientIndex]);
                    }
                    currentIngredientIndex--;
                    loadIngredientDetails(ingredientsArr[currentIngredientIndex]);
                }
            }

            function loadIngredientDetails(ingredient) {
                // const ingredient = ingredientsArr.find(ingredient => ingredient.fields.ingredient.toString() === ingredientArr.ingredient.toString());
                // Update the DOM elements with ingredient details
                document.getElementById("id_recipe_ingredient_ingredient").value = ingredient.fields.ingredient || '';
                document.getElementById("id_recipe_ingredient_quantity").value = ingredient.fields.recipe_ingredient_quantity || '';
                document.getElementById("id_recipe_ingredient_unit").value = ingredient.fields.unit || '';
                document.getElementById("id_recipe_ingredient_notes").value = ingredient.fields.recipe_ingredient_notes || '';
                document.getElementById("current_recipe_ingredient_id").value = ingredient.pk || '';

                // Fetch and update the ingredient-related fields
                loadIngredientRelated(ingredient.pk);
            }

            // Function to fetch and update the ingredient-related fields
            function loadIngredientRelated(ingredientId = "") {
                if (!ingredientId) {
                    ingredientId = ingredientSelect.value;
                }
                fetch(`/soilRegenApp/get-ingredient/${ingredientId}/`)
                    .then(response => response.json())
                    .then(data => {
                        descriptionDisplay.textContent = data.ingredient_description || 'Description not available';
                        typeDisplay.textContent = data.ingredient_type || 'Type not available';
                        categoryDisplay.textContent = data.ingredient_category || 'Category not available';
                        practiceDisplay.textContent = data.practice || 'Practice not available';
                    })
                    .catch(error => console.error('Error fetching ingredient-related data:', error));
            }

            // Listen for changes on the ingredient select dropdown
            ingredientSelect.addEventListener('change', loadIngredientRelated);

            // Update description on initial load
            loadIngredientRelated();

            // Function to save the ingredient details to the ingredientsArr
            function saveIngredientDetails() {
                // Get the ingredient details from the form
                const ingredientId = document.getElementById("id_recipe_ingredient_ingredient").value;
                const quantity = document.getElementById("id_recipe_ingredient_quantity").value;
                const unit = document.getElementById("id_recipe_ingredient_unit").value;
                const notes = document.getElementById("id_recipe_ingredient_notes").value;

                // Find the ingredient in ingredientsArr with the matching id
                const ingredient = ingredientsArr.find(ingredient => ingredient.fields.ingredient.toString() === ingredientId);
                if (ingredient) {
                    // Update the ingredient details in the ingredientsArr
                    ingredient.fields.recipe_ingredient_quantity = quantity;
                    ingredient.fields.unit = unit;
                    ingredient.fields.recipe_ingredient_notes = notes;
                } else {
                    console.error('Ingredient not found:', ingredientId);
                }
            }

            // Code to delete a step detail item from the step array and move the details form 
            // to the first step record
            document.getElementById('btn-delete-step').addEventListener('click', function() {
                // remove the step from the array
                deleteStep();
            });

            // Code to cancel a new step detail item, and reset the step detail form
            // to the first step record
            document.getElementById('btn-cancel-step').addEventListener('click', function() {
                toggleAddStepMode();
                moveToFirstStep();
            });

            function toggleAddStepMode() {
                isAddStepMode = !isAddStepMode;
                if (isAddStepMode) {
                    newStepBtn.style.visibility = 'hidden'; // hides the button but it holds its position
                    // btnCancelStep.style.display = 'block';
                    btnSaveStep.style.display = 'block';
                    btnDeleteStep.style.display = 'none';
                } else if (isEditMode == 'true') {
                    newStepBtn.style.visibility = 'visible';
                    // btnCancelStep.style.display = 'none';
                    btnDeleteStep.style.display = 'block';
                } else {
                    newStepBtn.style.visibility = 'hidden';
                    // btnCancelStep.style.display = 'none';
                    btnDeleteStep.style.display = 'none';
                }
            }

            // Code to delete a ingredient detail item from the ingredient array and move the details form 
            // to the first ingredient record
            document.getElementById('btn-delete-ingredient').addEventListener('click', function() {
                // remove the ingredient from the array
                deleteIngredient();
            });

            // Code to cancel a new ingredient detail item, and reset the ingredient detail form
            // to the first ingredient record
            document.getElementById('btn-cancel-ingredient').addEventListener('click', function() {
                toggleAddIngredientMode();
                moveToFirstIngredient();
            });

            function toggleAddIngredientMode() {
                isAddIngredientMode = !isAddIngredientMode;
                if (isAddIngredientMode) {
                    newIngredientBtn.style.visibility = 'hidden'; // hides the button but it holds its position
                    // btnCancelIngredient.style.display = 'block';
                    btnSaveIngredient.style.display = 'block';
                    btnDeleteIngredient.style.display = 'none';
                } else if (isEditMode == 'true') {
                    newIngredientBtn.style.visibility = 'visible';
                    // btnCancelIngredient.style.display = 'none';
                    btnDeleteIngredient.style.display = 'block';
                } else {
                    newIngredientBtn.style.visibility = 'hidden';
                    // btnCancelIngredient.style.display = 'none';
                    btnDeleteIngredient.style.display = 'none';
                }
            }

            // Code to save the parent recipe form, and the step details
            document.getElementById('editRecipeForm').addEventListener('submit', function(event) {
                // Prevent the default form submission behavior
                // event.preventDefault();
                saveStepDetailsToArray(stepArr[currentStepIndex].fields)
                writeStepDetails();
                saveIngredientToArray(ingredientsArr[currentIngredientIndex].fields)
                writeIngredientDetails();
                console.log('Form submitted');
            });

            // Attach the navigation functions to buttons
            document.getElementById('btn-next-step').addEventListener('click', moveToNextStep);
            document.getElementById('btn-previous-step').addEventListener('click', moveToPreviousStep);
            document.getElementById('btn-next-ingredient').addEventListener('click', moveToNextIngredient);
            document.getElementById('btn-previous-ingredient').addEventListener('click', moveToPreviousIngredient);

            // Respond to a click event on a record in the recipe step list, by
            // loading the corresponding recipe step data into the step detail form
            // Attach the event listener to the parent of the recipe steps, rather than 
            // to each individual step item, to avoid attaching multiple listeners and 
            // to handle dynamically added steps
            const recipeStepList = document.getElementById('recipeStepList');

            recipeStepList.addEventListener('click', function(e) {
                console.log("Setting up event listener on recipeStepList");
                console.log(recipeStepList);

                // Use event delegation to check if the clicked element is a step item
                if (e.target && e.target.matches('.list-group-item')) {
                    e.preventDefault();

                    // Assuming each list-group-item has a data attribute like data-id="stepId"
                    const stepId = parseInt(e.target.dataset.id);

                    // Save the step to the array before loading the next one
                    if (isEditMode === 'true') {
                        saveStepDetailsToArray(stepsArr[currentStepIndex]);
                    }

                    // Find the step in stepsArr with the matching id
                    const step = stepsArr.find(step => step.recipe_step_id === stepId);
                    if (step) {
                        currentStepIndex = stepsArr.findIndex(step => step.recipe_step_id === stepId);
                        loadStepDetails(step);
                    } else {
                        console.error('Recipe Step ID not found:', stepId);
                    }
                }
            });

            // Respond to a click event on a record in the recipe ingredient list, by
            // loading the corresponding recipe ingredient data into the ingredient detail form
            // Attach the event listener to the parent of the recipe ingredients, rather than 
            // to each individual ingredient item, to avoid attaching multiple listeners and 
            // to handle dynamically added ingredients.
            const recipeIngredientList = document.getElementById('recipeIngredientList');

            recipeIngredientList.addEventListener('click', function(e) {
                console.log("Setting up event listener on recipeIngredientList");
                console.log(recipeIngredientList);

                // Use event delegation to check if the clicked element is a ingredient item
                if (e.target && e.target.matches('.list-group-item')) {
                    e.preventDefault();

                    // Assuming each list-group-item has a data attribute like data-id="ingredientId"
                    const ingredientId = parseInt(e.target.dataset.id1);
                    console.log('recipeIngredientId:', ingredientId);
                    // Save the ingredient to the array before loading the next one
                    if (isEditMode === 'true') {
                        saveIngredientDetailsToArray(ingredientsArr[currentIngredientIndex]);
                    }

                    // Find the ingredient in ingredientsArr with the matching id
                    const ingredient = ingredientsArr.find(ingredient => ingredient.pk === ingredientId);
                    if (ingredient) {
                        currentIngredientIndex = ingredientsArr.findIndex(ingredient => ingredient.recipe_ingredient_id === ingredientId);
                        console.log('Ingredient to load:', ingredient);
                        loadIngredientDetails(ingredient);
                    } else {
                        console.error('Recipe ingredients ID not found:', ingredientId);
                    }
                }
            });

            // Function to add a new step record to the detail form, with empty fields
            newStepBtn.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent any default button action
                event.stopPropagation(); // Stop the event from propagating to other handlers

                currentStepIndex = stepsArr.length; // Set to the last step
                toggleAddStepMode();

                // Calculate the maximum step number from the steps array
                let maxStepNumber = stepsArr.reduce((max, step) => Math.max(max, step.recipe_step_number), 0);
                maxStepNumber++; // Increment the max step number by 1
                // Clear the step form fields
                document.getElementById('id_recipe_step_name').value = '';
                document.getElementById('id_recipe_step_number').value = maxStepNumber;
                document.getElementById('id_recipe_step_description').value = '';
                document.getElementById('id_recipe_step_notes').value = '';
                document.getElementById('current_step_id').value = '0'; // Reset to 0 or an appropriate value for a new step

                // set the focus to the first field of the form
                document.getElementById('id_recipe_step_name').focus();
            });

            // Function to add a new ingredient record to the detail form, with empty fields
            newStepBtn.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent any default button action
                event.stopPropagation(); // Stop the event from propagating to other handlers

                currentIngredientIndex = ingredientsArr.length; // Set to the last step
                toggleAddIngredientMode();

                // Clear the ingredient form fields
                document.getElementById("id_recipe_ingredient_ingredient").value = '';
                document.getElementById("id_recipe_ingredient_quantity").value = '';
                document.getElementById("id_recipe_ingredient_unit").value = '';
                document.getElementById("id_recipe_ingredient_notes").value = '';
                document.getElementById("current_recipe_ingredient_id").value = 0;

                // set the focus to the first field of the form
                document.getElementById('id_recipe_ingredient_name').focus();
            });
        });
    </script>
    
    {% if curr_id %}
    <script>
        // <-Previous & Next-> button code to simulate a click on the list item & ingredient details
        document.addEventListener('DOMContentLoaded', function() {
            var currId = "{{ curr_id }}";
    
            // Handle recipe step items
            var recipeStepItems = document.querySelectorAll('[data-id]');
            recipeStepItems.forEach(function(item) {
                if (item.getAttribute('data-id') === currId) {
                    item.click();  // Simulate click
                }
            });
            
            // Handle recipe ingredient items (if they have a different data attribute)
            var recipeIngredientItems = document.querySelectorAll('[data-id2]');
            recipeIngredientItems.forEach(function(item) {
                if (item.getAttribute('data-id2') === currId) {
                    item.click();  // Simulate click
                }
            });
        });
    </script>
    {% endif %}

{% endblock %}
